
{{ form_start(form, {'action': path('kalitics_support_configure'), 'method': 'POST', 'attr': {'id':'git_config_form'}}) }}
    {{ form_widget(form) }}
    <a onClick="$('#git_config_form').submit();" class="btn btn-label-success w-100">Enregistrer</a>
{{ form_end(form) }}
