{% if app.user.hasRole('support_simple_write') or app.user.hasRole('support_full_write') or app.user.hasRole('support_validate') %}
    <a class="kt-header__topbar-icon" data-toggle="modal" data-target="#git_submit_issue_modal"><i class="fa fa-headset"></i></a>
{% elseif app.user.hasRole('support_simple_read') %}
    <a href="{{ path('kalitics_support_view') or app.user.hasRole('support_full_read') }}" class="kt-header__topbar-icon"><i class="fa fa-headset"></i></a>
{% endif %}


