
<div class="modal-header">
    <h4 class="modal-title">Modifier un bug ou une demande d'amélioration</h4>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">

            {{ form_start(form, {'action': path('kalitics_support_edit_issue', {'id' : issue.gitlabId}), 'method': 'POST', 'attr': {'id':'git_edit_submit_form'}}) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 pull-right">
            <a href="{{ path('kalitics_support_view') }}">Voir tous les tickets</a>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-label-danger" data-dismiss="modal">Fermer</button>
    <a onClick="$('#git_edit_submit_form').submit();" class="btn btn-label-success">Soumettre</a>
</div>
