{{ form_start(form, {'action': path('kalitics_support_display_form'), 'method': 'POST', 'attr': {'id':'git_submit_form'}}) }}

    <div class="form-group row">
        {{ form_label(form.subject) }}
        <div class="col-sm-9">
            {{ form_widget(form.subject, {'attr': {'onkeyup': "filterIssuesByName('submit_issue_subject');"}}) }}
        </div>
    </div>

    {{ form_row(form.type) }}
    {{ form_row(form.isUrgent) }}
    <div class="form-group row">
        {{ form_label(form.link) }}
        <div class="col-sm-9">
            {{ form_widget(form.link, {'attr': {'value': uri}}) }}
        </div>
    </div>

    {{ form_widget(form) }}

{{ form_end(form) }}

