<div class="row">
    <div class="col-sm-8 kt-margin-b-10">
        <input id="input_filter_issue_name" onkeyup="filterIssuesByName('input_filter_issue_name');" class="form-control w-100" value="" placeholder="Rechercher">
    </div>
    <div class="col-sm-4 kt-margin-b-10">
        <select id="select_filter_issue_status" class="form-control w-100" onchange="filterByStatus();">
            <option value="tous">Tous</option>
            <option value="opened">Ouverts</option>
            <option value="closed">Cloturés</option>
        </select>
    </div>
</div>

<div class="kt-notification-v2">
    {% for issue in issues %}

        <div class="row kt-margin-b-0">
            <div class="col-sm-12">
                <a class="issue_{{ issue.id }} alert alert-outline-{% if issue.status == 'opened' %}brand{% else %}success{% endif %} kt-notification-v2__item kalitics_support_issue kalitics_support_issue_{{ issue.status }}" style="">
                    <div class="kt-notification-v2__item-icon pointer" onclick="toggleIssue('{{ issue.Id }}');">

                        {% if issue.type == 'support' %}
                            <i class="fa fa-phone kt-font-primary"></i>
                        {% elseif issue.type == 'new' %}
                            <i class="fa fa-plus kt-font-success"></i>
                        {% else %}
                            <i class="fa fa-bug kt-font-warning"></i>
                        {% endif %}

                    </div>
                    <div class="kt-notification-v2__itek-wrapper">
                        <div class="kt-notification-v2__item-title">
                            <div class="row pointer" onclick="toggleIssue('{{ issue.id }}');">
                                <div class="kalitics_issue_title col-sm-8">
                                    <span style="color: rgba(0, 0, 0, 0.2);padding-right: 5px;">#{{ issue.iid }}</span> {{ issue.subject }}

                                    {% if issue.urgent or issue.createdBy is not null %}<br/>{% endif %}
                                    {% if issue.urgent %}
                                        <span class="kt-badge kt-badge--danger kt-badge--inline kt-badge--pill kt-margin-r-5">Bloquant</span>
                                    {% endif %}
                                    {% if issue.createdBy is not null %}
                                        <span class="kt-notification-v2__item-desc">Soumis par : {{ issue.createdBy }}</span>
                                    {% endif %}

                                </div>
                                <div class="col-sm-4 pull-right">
                                    {{ issue.createdAt | date('d/m/Y H:i') }}
                                    <br/>

                                    {% if constant('Kalitics\\SupportBundle\\Entity\\Issue::LABEL_TO_CLARIFY') in issue.labels %}
                                        <span class="kt-badge kt-badge--warning kt-badge--inline kt-badge--pill">
                                            Demande d'informations supplémentaires
                                        </span>
                                    {% endif %}

                                    {% if constant('Kalitics\\SupportBundle\\Entity\\Issue::WF_WAITING_APPROVAL') in issue.labels %}
                                        <span class="kt-badge kt-badge--warning kt-badge--inline kt-badge--pill">
                                            En attente de validation par un responsable
                                        </span>
                                    {% endif %}

                                    {% if issue.status == 'opened' %}
                                        <span class="kt-badge kt-badge--brand kt-badge--inline kt-badge--pill">En cours de résolution</span>
                                    {% else %}
                                        <span class="kt-badge kt-badge--success kt-badge--inline kt-badge--pill">Résolu</span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12" id="support_kalitics_issue_id_{{ issue.id }}" style="display: none;">

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <hr>
                                            {% if issue.gitlabImageUrl is not null %}
                                                <form id="{{ issue.id }}_img_form" action="https://gitlab.com/{{ issue.gitlabImageUrl }}" style="display: inline-flex">
                                                    <button onclick="$('{{ issue.id }}_img_form').submit();" class="btn btn-label-primary"> <i class="la la-image"></i>Télécharger l'image associée</button>
                                                </form>
                                            {% endif %}

                                            {% if app.user.hasRole('SUPER_ADMIN') %}
                                                <form id="{{ issue.id }}_gitlab_form" action="{{ issue.gitlabUrl }}" style="display: inline-flex">
                                                    <button onclick="$('{{ issue.id }}_gitlab_form').submit();" class="btn btn-label-primary">
                                                        <img class="" style="height: 15px;margin-left: 5px;" src="https://gitlab.com/assets/favicon-7901bd695fb93edb07975966062049829afb56cf11511236e61bcf425070e36e.png">
                                                        Voir sur gitlab
                                                    </button>
                                                </form>
                                            {% endif %}

                                            {% if issue.status == 'opened' %}
                                                <button onclick="openIssueEditModal('{{ path('kalitics_support_edit_issue', {'id' : issue.gitlabId}) }}');" class="btn btn-label-primary"><i class="fa fa-edit"></i>Modifier</button>
                                                <button onclick="markIssueClosed('{{ path('kalitics_support_mark_closed', {'id' : issue.gitlabId}) }}', '{{ issue.gitlabId }}');" class="btn btn-label-success"><i id="issue_state_loader_{{ issue.gitlabId }}" class="fa fa-check"></i>Marquer résolu</button>

                                                {% if constant('Kalitics\\SupportBundle\\Entity\\Issue::WF_WAITING_APPROVAL') in issue.labels %}
                                                    <button onclick="window.location = '{{ path('kalitics_support_refuse_issue', {'id' : issue.id}) }}';" class="pull-right btn btn-label-danger"><i class="fa fa-trash"></i> Refuser</button>
                                                    <button onclick="window.location = '{{ path('kalitics_support_validate_issue', {'id' : issue.id}) }}';" class="pull-right btn btn-label-success"><i class="fa fa-check"></i> Valider la commande de <b>{{ issue.gitlabHumanTimeEstimate }}</b></button>
                                                {% elseif issue.validatedBy is not null %}
                                                    <span class="pull-right">Validé par {{ issue.validatedBy }} le {{ issue.validatedAt|date('d/m/Y') }}</span>
                                                {% endif %}

                                            {% endif %}

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">

                                            <div class="row">
                                                <div class="col-sm-12" style="background-color: #fff;padding: 10px;margin: 10px;">
                                                    {{ issue.description | nl2br }}
                                                    <br/><br/>
                                                    {{ issue.link }}
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-4 pull-right pull-bottom">

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>


<div class="modal fade" id="kalitics-support-modal-edit-issue" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class='modal-header'>
                <h4 class='modal-title' id='smallModalLabel'>Chargement ...</h4>
            </div>
            <div class='modal-body center'>
                <div class="center p-t-50 p-b-50">
                    <i class="fas fa-spinner fa-spin"></i>
                </div>
            </div>

        </div>
    </div>
</div>


<script>

    function toggleIssue(issue_id){

        var $issueBlock = $('#issue_'+issue_id);
        if( $issueBlock.hasClass('disabled') ){
            $issueBlock.removeClass('disabled');
        }else{
            $issueBlock.addClass('disabled');
        }
            $('#support_kalitics_issue_id_'+issue_id).toggle('slow');

    }

    function filterByStatus(){

        $status = $('#select_filter_issue_status').val();
        console.log('show '+$status);
        $('.kalitics_support_issue').hide();
        if($status == 'opened'){
            $('.kalitics_support_issue_opened').show();
        }
        if($status == 'closed'){
            $('.kalitics_support_issue_closed').show();
        }
        if($status == 'tous'){
            $('.kalitics_support_issue').show();
        }

    }

    function filterIssuesByName(input_id){
        var input, filter, ul, li, a, i, txtValue;
        filter = $('#'+input_id).val().toUpperCase();
        li = $('.kalitics_support_issue');
        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByClassName("kalitics_issue_title")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }

    function openIssueEditModal(path){
        //display loading modal
        $('#kalitics-support-modal-edit-issue').modal('show');
        $.ajax({
            url: path,
            type: 'GET',
            data: {},
            success: function(response){
                $('#kalitics-support-modal-edit-issue .modal-content').html(response);
            }
        });
    }

    function markIssueClosed(path, id){
        //display loading modal

        var $icon = $('#issue_state_loader_'+id);

        $icon.removeClass('fa-check');
        $icon.addClass('fa-spin fa-circle-notch');

        $.ajax({
            url: path,
            type: 'GET',
            data: {},
            success: function(response){
                loadIssuesList();
            }
        });
    }

</script>
