<div class="modal fade" id="git_submit_issue_modal" tabindex="-1" role="dialog" aria-labelledby="git_submit_issue_modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Soumettre un bug ou une demande d'amélioration</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div id="submit_git_issue_alerts" class="col-sm-12 col-md-12 col-lg-12" style="display: none;">

                        <div class="alert alert-danger" role="alert">
                            <div class="alert-text">
                                <div id="submit_git_issue_alerts_subject"><strong>- L'objet est trop court</strong></div>
                                <div id="submit_git_issue_alerts_description"><strong>- La corp du message est trop court, il doit faire au minimum 50 cacactères</strong></div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div id="submit_git_issue_form_container" class="col-sm-12 col-md-12 col-lg-12">
                        {{ render(controller('kalitics_support.controller.submission_controller:formAction', {'request' : app.request})) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 pull-right">
                        <a href="{{ path('kalitics_support_view') }}">Voir tous les tickets</a>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <a onClick="checkAndSubmitGitLabIssue();" href="#" class="btn btn-label-success">Soumettre</a>
            </div>
        </div>
    </div>
</div>

<script>

    function checkAndSubmitGitLabIssue(){

        var $subject = $('#submit_issue_subject');
        var $subjectAlert = $('#submit_git_issue_alerts_subject');
        var $description = $('#submit_issue_description');
        var $descriptionAlert = $('#submit_git_issue_alerts_description');
        var $alertContainer = $('#submit_git_issue_alerts');

        var $isSubjectOk = true;
        var $isDescriptionOk = true;
        $subjectAlert.hide();
        $descriptionAlert.hide();
        $alertContainer.hide();

        console.log($subject.val().length);
        console.log($description.val().length);

        if($subject.val().length < 10){
            var $isSubjectOk = false;
            $alertContainer.show();
            $subjectAlert.show();
        }

        if($description.val().length < 50){
            var $isDescriptionOk = false;
            $alertContainer.show();
            $descriptionAlert.show();
        }

        if($isSubjectOk && $isDescriptionOk){
            $('#submit_git_issue_form_container form').submit();
        }
    }

</script>
