
{% extends 'app/layout.html.twig' %}

{% block title %}Support{% endblock %}

{% block sub_header_left %}{% endblock %}
{% block sub_header_right %}{% endblock %}

{% block body_content %}


    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon"><i class="kt-font-brand fa fa-headset"></i></span>
                <h3 class="kt-portlet__head-title">Support Kalitics</h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions">
                        <a class="btn btn-label-primary" href="#" data-toggle="modal" data-target="#git_submit_issue_modal"><i class="la la-plus"></i> Soumettre une demande</a>
                        {% if app.user.hasRole(constant("App\\Enum\\Security\\RoleEnum::ROLE_SUPER_ADMIN")) %}
                            <a class="btn btn-label-primary" href="#" data-toggle="modal" data-target="#git_configuration_modal">Configuration</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="row">
{#                <div id="formview_issues_form_container" class="col-sm-12 col-md-12 col-lg-4" style="border-right: solid 1px #f7f8fa">#}
{#                    {{ render(controller('kalitics_support.controller.submission_controller:formAction', {'request' : app.request})) }}#}
{#                    <button class="w-100 btn btn-label-success" onclick="$('#formview_issues_form_container form').submit();">Envoyer la demande</button>#}
{#                </div>#}
                <div id="kalitis_support_issues_list_container" class="col-sm-12 col-md-12 col-lg-12"></div>
            </div>

        </div>
    </div>

    {% if app.user.hasRole(constant("App\\Enum\\Security\\RoleEnum::ROLE_SUPER_ADMIN")) %}
        <div class="modal fade" id="git_configuration_modal" tabindex="-1" role="dialog" aria-labelledby="git_configuration_modal" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Configuration du module</h4>
                    </div>
                    <div class="modal-body">
                        {{ render(controller('kalitics_support.controller.configuration_controller:configure', {'request' : app.request})) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-label-danger" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}



{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        function loadIssuesList(){
            $('#kalitis_support_issues_list_container').html('<div style="text-align: center;margin-top: 50px;"><i class="fa fa-2x fa-spin fa-circle-notch"></i></div>');
            $('#kalitis_support_issues_list_container').load('{{ path('kalitics_support_list') }}', function(){

                $('#submit_issue_subject').keyup(function($this){
                    filterIssuesByName('submit_issue_subject');
                });

            });
        }

        $(document).ready(function () {
            loadIssuesList();
        });

    </script>

{% endblock %}



