</td>
</tr>
</tbody>
</table>

<!--[if mso]></td></tr></table><![endif]-->

</td>

</tr>

</tbody>

</table>


<!-- footer -->
<table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
    <tbody>
    <tr>
        <td class="o_bg-light o_px-xs o_pb-lg o_xs-pb-xs" align="center" style="background-color: #e9e9e9;padding-left: 8px;padding-right: 8px;padding-bottom: 32px;">
            <!--[if mso]><table width="632" cellspacing="0" cellpadding="0" border="0" role="presentation"><tbody><tr><td><![endif]-->
            <table class="o_block" width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation" style="max-width: 632px;margin: 0 auto;">
                <tbody>
                <tr>
                    <td class="o_bg-dark o_px-md o_py-lg o_br-b o_sans o_text-xs o_text-dark_light" align="center" style="font-family: Helvetica, Arial, sans-serif;margin-top: 0px;margin-bottom: 0px;font-size: 14px;line-height: 21px;background-color: #121118;color: #ffffff;border-radius: 0px 0px 4px 4px;padding-left: 24px;padding-right: 24px;padding-top: 32px;padding-bottom: 32px;">
                        <p class="o_mb" style="margin-top: 0px;margin-bottom: 16px;"><a class="o_text-dark_light" href="https://www.kalitics-btp.com/" style="text-decoration: none;outline: none;color: #ffffff;"><img src="{{ absolute_url(asset('bundles/kaliticssupport/images/logo-kalitics-btp.png')) }}" width="36" height="36" alt="Créée par Kalitics" style="max-width: 36px;-ms-interpolation-mode: bicubic;vertical-align: middle;border: 0;line-height: 100%;height: auto;outline: none;text-decoration: none;"></a></p>
                        <p class="o_mb" style="margin-top: 0px;margin-bottom: 16px;">Construit sur-mesure par <a class="o_text-dark_light o_underline" href="https://www.kalitics-btp.com" style="text-decoration: underline;outline: none;color: #FF441B;">Kalitics</a></p>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--[if mso]></td></tr></table><![endif]-->
            <div class="o_hide-xs" style="font-size: 64px; line-height: 64px; height: 64px;">&nbsp; </div>
        </td>
    </tr>
    </tbody>
</table>

</body>

</html>
