
    {% include '@KaliticsSupport/mail/_email_header.html.twig' with {
        'title' : title,
        'subTitle' : issue.subject,
    } %}

    <h4 style="font-size:22px; margin-top: 0px;margin-bottom: 0px;">Sujet de la demande :</h4>
    <p style="margin-top: 0px;margin-bottom: 0px;">{{ issue.subject | nl2br }}</p>

    <br/>
    <h4 style="font-size:22px;margin-top: 0px;margin-bottom: 0px;">Description :</h4>
    <p style="margin-top: 0px;margin-bottom: 0px;">{{ issue.description | nl2br }}</p>

    <br/>
    <br/>
    <h4 style="font-size: 15px;line-height:19px; margin-top: 0px;margin-bottom: 0px;">Informations sur la demande :</h4>
    <p style="font-size: 15px;line-height:19px;margin-top: 0px;margin-bottom: 0px;">Projet : {{ projectName }}</p>
    <p style="font-size: 15px;line-height:19px;margin-top: 0px;margin-bottom: 0px;">Utilisateur : {{ issue.createdBy }}</p>
    <p style="font-size: 15px;line-height:19px;margin-top: 0px;margin-bottom: 0px;">Identifiant de la demande : #{{ issue.iid }}</p>
    <p style="font-size: 15px;line-height:19px;margin-top: 0px;margin-bottom: 0px;">Url : {{ issue.link }}</p>

    {% include '@KaliticsSupport/mail/_email_footer.html.twig' %}
