
{% include '@KaliticsSupport/mail/_email_header.html.twig' with {
    'title' : title,
    'subTitle' : issue.subject,
} %}

<h4 style="font-size:22px; margin-top: 0px;margin-bottom: 0px;">Sujet de la demande :</h4>
<p style="margin-top: 0px;margin-bottom: 0px;">{{ issue.subject | nl2br }}</p>

<br/>
<h4 style="font-size:22px;margin-top: 0px;margin-bottom: 0px;">Description :</h4>
<p style="margin-top: 0px;margin-bottom: 0px;">{{ issue.description | nl2br }}</p>

<br/>
<br/>

<div style="background-color: #efefef; border: solid 1px #0000;padding: 20px;">
    Estimation Kalitics : {{ issue.gitlabHumanTimeEstimate }}

    <br/>
    <br/>

    <div>
        <a href="{{ url('kalitics_support_refuse_issue', {'id' : issue.id}) }}" style="cursor:pointer;background-color: #000000;color: white; padding: 20px;">Refuser</a>
        <a href="{{ url('kalitics_support_validate_issue', {'id' : issue.id}) }}" style="cursor:pointer;background-color: #000000;color: white; padding: 20px;">Valider</a>
    </div>

    <br/>

</div>

<br/>
<br/>

<h4 style="font-size: 15px;line-height:19px; margin-top: 0px;margin-bottom: 0px;">Informations sur la demande :</h4>
<p style="font-size: 15px;line-height:19px;margin-top: 0px;margin-bottom: 0px;">Projet : {{ projectName }}</p>
<p style="font-size: 15px;line-height:19px;margin-top: 0px;margin-bottom: 0px;">Utilisateur : {{ issue.createdBy }}</p>
<p style="font-size: 15px;line-height:19px;margin-top: 0px;margin-bottom: 0px;">Identifiant de la demande : #{{ issue.iid }}</p>
<p style="font-size: 15px;line-height:19px;margin-top: 0px;margin-bottom: 0px;">Url : {{ issue.link }}</p>

{% include '@KaliticsSupport/mail/_email_footer.html.twig' %}
